/* Esercizio 1 */
div .ex-1-square:hover{
    transition: 2s;
    background-color: red;
}

/* Esercizio 2 */
div .ex-2-square:active{
    width: 100%;
    transition: 3s;
}

/* Esercizio 3 */
div .ex-3-square:hover{
    transition: .5s;
    border-radius: 50%;
}

/* Esercizio 4 */
div .ex-4-square:hover{
    opacity: 0;
    transition: 2s;
}

/* Esercizio 5 */
div .ex-5-square:hover{
    transition: 1.5s;
    transform: scale(2);
}
div .ex-5-square:active{
    transition: 1.5s;
    transform: scale(.5);
}

/* Esercizio 6 */
div .ex-6-img:hover{
    filter:grayscale(1);
}

/* Esercizio 7 */
div .ex-7-img:hover{
    transition: 2s;
    filter:  grayscale(.92) sepia(.4);
}

/* Esercizio 8 */
div .ex-8-img:hover{
    transition: 2s;
    border-radius: 15px;
    filter:  grayscale(.8) sepia(.4);
}

/* Esercizio 9 */
div .ex-9-img:hover{
    transition: 2s;
    transform: scale(1.5);
    border-radius: 15px;
    filter:  grayscale(.8) sepia(.4);
}